@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body {
    font-family: vt323, sans-serif;
    text-align: center;
    font-size: 115%;
}
header{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
img {
    width: 13%;
    height: 13%;
    padding-top: 20px;
}
img:hover{
    cursor: pointer;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.boards {
    display: flex;
    justify-content: space-evenly;
}
.grid{
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(10, auto);
}
.cell{  
    height: 30px;
    width: 30px;
    border: 1px solid black;
}
.cGrid:hover {
    border: 1px solid white;
}
.water {
    background-color: lightblue;
}
h4{
    margin: 5px;
}
.scoreSheet{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid grey
}
.shipmarker{
    background-color: red;
    display: inline-block;
    width: 10px;
    height: 5px;
    border: 1px dashed black;
}
.shipmarker.hit{
    background-color: white;
}
button {
    padding: 10px 20px;
    width: 130px;
}
#instructions{
    border: 5px solid black;
    font-size: larger;
    margin-top: 120px;
    margin-bottom: 200px;
    padding: 10px;
    width: 330px;
    display: flex;
    justify-content: center;
    white-space: break-spaces;
}
.pGrid.ship{
    background-color: darkgray;
}
.hit{
    background-color: red;
}
.miss{
    background-color: lightgray;
}
.pGrid.hit{
    background-color: red;
}
#pGrid-block{
    position: absolute;
    z-index: 1;
    width: 322px;
    height: 322px;
}