body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.boards {
    display: flex;
    justify-content: space-around;
}
.grid{
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(10, auto);
}
.cell{  
    height: 30px;
    width: 30px;
    border: 1px solid black;
}
.cGrid:hover {
    border: 1px solid white;
}
.water {
    background-color: lightblue;
}
h4{
    margin: 5px;
}
.scoreSheet{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid grey
}
.shipmarker{
    background-color: red;
    display: inline-block;
    width: 10px;
    height: 5px;
}
button {
    padding: 10px 20px;
    width: 130px;
}
#instructions{
    border: 5px solid black;
    font-size: larger;
    margin-top: 100px;
    margin-bottom: 150px;
    padding: 10px;
    max-width: 330px;
}
.pGrid.ship{
    background-color: darkgray;
}
.hit{
    background-color: red;
}
.miss{
    background-color: lightgray;
}
.pGrid.hit{
    background-color: red;
}